.parent .expand-btn {
  cursor: pointer;
}

.child {
  cursor: default;
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
/* 
.indent {
  position: absolute;
  left: 10px;
} */

ul {
  list-style-type: none;
}
